<div class="container margem">
    <h1>CADASTRO DE CURSOS</h1>
    <h1>Código: {{curso.codigo}}</h1>
    <h1>Descrição: {{curso.descricao}}</h1>
    <h1>Carga Horária: {{curso.ch}}</h1> 

    <div class="col-md-12">

        <!-- Campos de Texto -->
        <div class="form-group">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control" id="txtCodigo" name="txtCodigo">
        </div>
        <div class="form-group">
            <label for="codigo">Descrição:</label>
            <input type="text" class="form-control" id="txtDescricao" name="txtDescricao">
        </div>
        <div class="form-group">
            <label for="codigo">Carga Horária:</label>
            <input type="text" class="form-control" id="txtCH" name="txtCH">
        </div>

         <!-- Botões -->
        <div class="form-group">
            <button type="button" class="btn btn-info"> 
                <span class="glyphicon glyphicon-pencil"></span>
                Incluir
            </button>
        </div>

    </div>

    
</div>